# Copier ce fichier en .env à la racine du projet et remplir les valeurs

# Token d'accès personnel Airtable (Personal Access Token)
# Générer sur : https://airtable.com/create/tokens
AIRTABLE_ACCESS_TOKEN=patWZYScJP3uJ61g1.58759b26bc805911efcb5e7409a0d72a18a0284e28856eb2f61fafda9fd5a2f9
# ID de la base Airtable cible
# Visible dans l'URL : https://airtable.com/appXXXXXXXXXXXXXX/...
AIRTABLE_BASE_ID=appEJMEcOwBNCPqvE

GEMINI_API_KEY=AIzaSyApJnNGFROhAKMCk9BXlgQLgLNE08VZe-I